@font-face {
    font-family: easports;
    src: url("/media/EASPORTS15.ttf");
}



.pageClass{
    text-align: center;
    font-family: easports;
    margin-top: 75px;
}

.name {
    font-family: easports;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}

.submitName {
    font-family: easports;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.buttonSubmit {
    margin-left: 110px;
}

.submitButton {
    margin-top: 0px;
    margin-left: 551px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: rgb(147, 145, 145);
    border: 2px solid rgb(203, 195, 227);
    transition: transform ease 0.5s;
    transform: translateY(-60px);
}

.submitButton:hover {
    /* background-color: lightgrey; */
    background-color: rgb(203, 195, 227);
    transform: translateY(-65px);
}
/*Game css*/
body {
    background-image: url(/img/Nicebackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
#wrapper {
    height: 500px;
    width: 448px;
    border: 2px solid white;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    grid-template-rows: repeat(3, 1fr );
    height: 450px;
    width: 448px;
}

.cell1, .cell2, .cell3 {
    grid-column: col-start / span 0;
}

.cell4, .cell5, .cell6 {
    grid-column: col-start / span 0;
}

.cell7, .cell8, .cell9 {
    grid-column: col-start / span 0;
}

.box {
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
}

#wrapper2 {
    height: 500px;
    width: 500px;
    border: 2px solid black; 
    margin-left: 365px;
    text-align: center;
}

header {
    font-size: x-large;
    text-align: center;
    color: white;
}

article {
   height: 300px;
   width: 300px;
   background-color: rgb(203, 195, 227);
   float: left;
   margin: 130px;
   border-radius: 25px;
}
.settingsImg {
    height: 50px;
    width: 50px;
    float: right;
    transition: 0.4s;
}
.settingsImg:hover {
    height: 55px;
    width: 53px;
    float: right;
}
.backArrow {
    height: 50px;
    width: 50px;
    float: left;
    transition: 0.4s;
}
.backArrow:hover {
    height: 50px;
    width: 53px;
    float: left;
}
.articleWrapper2 {
    height: 50px;
    width: 150px;
    margin: 5px;
    background-color: rgb(27, 25, 25);
    color: white;
}
.articleWrapper2:hover{
    background-color:rgb(118, 112, 112);
}
.resetBackgroundClass {
    margin-top: 400px;
    float: left;
}

.displayInfo {
    color: white;
    margin-left: 100px;
}
button {
    margin-top: 15px;
    margin-left: 585px;
}
/* homepage css */

.colorWhiteClass {
    color: white;
}

.align-center {
    text-align: center;
}

.fontClass {
    font-family: easports;
}

.optionsButton {
    background-color: white;
    height: 60px;
    width: 200px;
    margin-left: 500px;
    transition: 0.5s;
}
.optionsButton:hover {
    height: 59px;
    width: 240px;
    background-color:cornsilk;
    margin-left: 480px;
}

#PageHome, #Page, #Page1, #Page2 {
    animation: fadeOut 1s;
}

.playerOneNameClass {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
} 

.playerTwoNameClass {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: right;
    margin-top: 30px;
    margin-right: 19px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


/* animations */

@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
