@font-face {
    font-family: easports;
    src: url("/media/EASPORTS15.ttf");
}

.pageClass{
    text-align: center;
    font-family: easports;
    margin-top: 75px;
}

.name {
    font-family: easports;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}

.submitName {
    font-family: easports;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.buttonSubmit {
    margin-left: 110px;
}

.submitButton {
    margin-top: 0px;
}
/*Game css*/
body {
    background-image: url(/img/Nicebackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#wrapper {
    height: 400px;
    width: 348px;
    border: 2px solid white;
    margin-left: 435px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    height: 350px;
    width: 350px;
}

.cell1, .cell2, .cell3 {
    grid-column: col-start / span 0;
}

.cell4, .cell5, .cell6 {
    grid-column: col-start / span 0;
}

.cell7, .cell8, .cell9 {
    grid-column: col-start / span 0;
}

.box {
    border: 1px solid black;
}

#wrapper2 {
    height: 500px;
    width: 500px;
    border: 2px solid black; 
    margin-left: 365px;
    text-align: center;
}

header {
    font-size: x-large;
    text-align: center;
    color: white;
}

article {
   height: 300px;
   width: 300px;
   background-color: grey;
   float: left;
   margin: 125px;
   border-radius: 25px;
}
.settingsImg {
    height: 50px;
    width: 50px;
    float: right;
}
.settingsImg:hover {
    height: 55px;
    width: 55px;
    float: right;
}
.backArrow {
    height: 50px;
    width: 50px;
    float: left;
}
.backArrow:hover {
    height: 50px;
    width: 55px;
    float: left;
}
.articleWrapper2 {
    height: 50px;
    width: 150px;
    margin: 5px;
    background-color: rgb(27, 25, 25);
    color: white;
}
.articleWrapper2:hover{
    background-color:rgb(118, 112, 112);
}
.resetBackgroundClass {
    margin-top: 400px;
    float: left;
}
.cell {
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    cursor: pointer;
}
.displayInfo {
    color: white;
    margin-left: 100px;
}
button {
    margin-top: 15px;
    margin-left: 585px;
}
/* homepage css */

.colorWhiteClass {
    color: white;
}

.align-center {
    text-align: center;
}

.fontClass {
    font-family: easports;
}

.optionsButton {
    background-color: white;
    height: 60px;
    width: 200px;
    margin-left: 500px;
}
.optionsButton:hover {
    height: 59px;
    width: 240px;
    background-color:cornsilk;
    margin-left: 480px;
}


/* animations */

